


/* ---------- BASE BUTTON ---------- */

%btn-base{

 cursor:pointer;

 border:none;

 padding:6px;

}


/* full width buttons (cart) */

%btn-full{

 @extend %btn-base;

 width:100%;

 margin-left:15px;

 margin-right:15px;

}


/* color helper */

@mixin btn-color($bg){

 background-color:$bg;

 color:$white;

}



/* ---------- ADD PRODUCT ---------- */

.add{

 @extend %btn-base;

 @include btn-color($primary);

 width:78%;

 margin-left:15px;

 margin-right:15px;

}



/* ---------- CHECKOUT BUTTON ---------- */

.cart__checkout{

 @extend %btn-full;

 @include btn-color($primary);

 &.toggle{

  background-color:$primary-dark;

 }

}



/* ---------- EMPTY CART BUTTON ---------- */

.cart__empty{

 @extend %btn-full;

 @include btn-color($primary);

}



/* ---------- CLOSE CART BUTTON ---------- */

.cart-x{

 @extend %btn-base;

 background:none;

 color:red;

 font-size:1.5rem;

 position:absolute;

 top:10px;

 right:30px;

}



/* ---------- QUANTITY BUTTON ---------- */

.qty-btn{

 @extend %btn-base;

 @extend %flex-center;

 width:28px;

 height:28px;

}
