/* ========= BASE ========= */

body{

 width:100%;

 font-size:15px;

 font-weight:300;

 color:$color-text;

 font-family:$font-main;

 margin:0;

}

p{

 font-weight:500;
 font-size:15px;

}

h1{

 font-size:60px;

}

img{

 width:100px;

}


/* ========= HEADER ========= */

header{

 width:100%;

 padding:20px 50px;

 background-color:$color-dark;

 @include flex(row,center,space-between);

 flex-direction:row-reverse;

 box-sizing:border-box;

 i{

  width:35px;

  cursor:pointer;

  display:inline-block;

  img{

   width:100%;

  }

 }

}


/* ========= BANNER ========= */

.banner{

 width:100%;

 text-align:center;

 background-image:url("");

 background-repeat:no-repeat;

 background-size:cover;

 background-position-y:60%;

 color:$white;

 h2{

  font-weight:600;
  font-size:30px;
  margin:10px;

 }

 p{

  width:350px;

  margin:auto;

  font-size:25px;

  opacity:.7;

 }

}


/* ========= PRODUCTS ========= */

.stock{

 padding:60px 0;

}

.products{

 width:80%;

 margin:0 auto;

 padding:20px;

 box-sizing:border-box;

 display:grid;

 grid-template-columns:repeat(auto-fit,minmax(250px,1fr));

 gap:30px;

 article{

  cursor:pointer;

  text-align:center;

  flex-basis:320px;

  transition:all .25s ease-in-out;

 }

 img{

  width:200px;

  margin-bottom:15px;

 }

 h2{

  font-weight:500;
  font-size:17px;
  margin:5px;

 }

 h3,
 p{

  font-weight:300;

  font-size:15px;

  padding:0 10px;

  &.red{

   color:$danger;

   font-weight:600;

  }

  &.blue{

   color:$blue;

   font-weight:600;

  }

 }

}


/* ========= BUTTON ADD ========= */

.add{

 @include btn($primary);

 width:78%;

}


/* ========= CART ========= */

.cart{

 width:$cart-desktop;

 background-color:$white;

 padding:25px;

 height:100%;

 position:fixed;

 top:70px;
 right:0;

 transform:translateX(100%);

 transition:transform .3s ease;

 box-sizing:border-box;

 box-shadow:-19px -1px 22px -15px rgba(0,0,0,.30);

 z-index:1000;

 &.show{

  left:-700px;

 }

 img{

  width:300px;

 }

 p{

  margin:10px;

 }

 div{

  p:nth-child(3){

   font-weight:500;

  }

  i{

   width:25px;

   cursor:pointer;

  }

 }

 .cart-item{

  @extend %cart-row;

 }

 .cart-items{

  @include flex(column,flex-start);

  flex-wrap:wrap;

  align-content:space-around;

  gap:18px;

  padding-bottom:18px;

 }

 .cart__item-info{

  @extend %flex-center;

 }

 .quantity-controls{

  @include flex(row-reverse,center,flex-start,10px);

 }

}


/* ========= CART BUTTONS ========= */

.cart__checkout{

 @extend %cart-btn;

 background-color:$primary;

 &.toggle{

  background-color:$primary-dark;

 }

}

.cart__empty{

 @extend %cart-btn;

 background-color:$primary;

}


/* ========= CART HEADER ========= */

.cart__title{

 width:100%;

 text-align:center;

 font-size:20px;

 font-weight:600;

 padding:25px 0;

 box-sizing:border-box;

}

.cart__header{

 @include flex(column,flex-start,space-between);

 padding:15px;

 box-sizing:border-box;

}


.cart-x{

 background:none;

 border:none;

 color:red;

 font-size:1.5rem;

 cursor:pointer;

 position:absolute;

 top:10px;
 right:30px;

}


/* ========= QTY ========= */

.qty-btn{

 @extend %flex-center;

 width:28px;

 height:28px;

}


/* ========= MEDIA ========= */

@include tablet{

 header{

  padding:10px;

  > img{

   width:80px;

  }

  i{

   width:30px;

  }

 }

 .products{

  grid-template-columns:repeat(auto-fit,minmax(150px,1fr));

  gap:20px;

  img{

   width:150px;

  }

 }

 .cart{

  width:$cart-tablet;

  top:80px;

  &.show{

   left:-400px;

  }

  img{

   width:200px;

  }

  div{

   flex-direction:column;

   align-items:center;

  }

 }

 .cart-x{

  right:20px;

 }

}


@include mobile{

 .banner{

  padding:30px 0;

  h2{

   font-size:18px;

  }

  p{

   font-size:16px;

  }

 }

 .products{

  grid-template-columns:1fr;

  padding:10px;

  img{

   width:100%;

   max-width:300px;

   margin-bottom:10px;

  }

 }

 .cart{

  width:100%;

  box-shadow:none;

  h2{

   padding:15px 0;

  }

  div{

   flex-direction:column;

   align-items:center;

  }

  img{

   width:300px;

  }

 }

}


/* ========= UTIL ========= */

.red{

 color:$danger;

 font-weight:600;

}